body {
  width: 7.5rem;
  min-height: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  position: relative;
  overflow-x: hidden;
  font-family: "Microsoft Yahei", Arial;
  font-size: 14px;
  background-color: #f0f0f0;
  color: #333;
  -webkit-overflow-scrolling: touch;
}
.color33 {
  color: #333 !important;
}
.colorAaa {
  color: #aaa !important;
}
.colorRed {
  color: #f94848 !important;
}
.colorGreen {
  color: #42bd56 !important;
}
.paddingTop50 {
  padding-top: 50px;
}
.fa-angle-right {
  font-size: 18px;
  color: #333;
}
a {
  text-decoration: none;
}
.rating {
  color: #aaa;
  font-size: 14px;
  margin-top: 0.1rem;
  text-align: left;
}
.borderBottom {
  border-bottom: 1px solid #ddd !important;
}
.officialTicket {
  display: inline-block;
  margin-left: 0.2rem;
  font-size: 12px;
  padding: 0 0.05rem;
  color: #f94848;
  border: 1px solid #f94848;
  border-radius: 3px;
}
